
@{
    ViewData["Title"] = "Create Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<Product>


<div class="row">
    <div class="col-md-6">
        <h1 class="text-success">Product List</h1>
    </div>
    <div class="col-md-6">
        <a asp-action="CreateUpdate_Product" asp-controller="Admin" class="btn btn-info">Add Product</a>
    </div>
</div>
<table class="table table-bordered" style="width:100%">

    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th>Product Image</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
  <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    @i.Id
                </td>
                <td>
                    @i.Name
                </td>
                <td>
                    @i.Description
                </td>
                <td>
                    @i.Price
                </td>
                <td>
                   <img src="@i.ImageURL" width="100%" height="50px">
                </td>
                <td>
                    @i.CategoryId
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Admin" asp-route-id="@i.Id" class="btn btn-outline-success">Update</a>
                    <a asp-action="Delete" asp-controller="Admin" asp-route-id="@i.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>